/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Carter+One');
body{
    background-color: #191414;
    color: white;
    font-family: 'Carter One', cursive;
}